.alertModal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /** 毛玻璃效果 */
  backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
}

.alertBox {
  margin: 0 auto;
  padding: 16px 0;
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
