.container {
  box-sizing: border-box;
  padding: 4rem 2rem;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // * {
  //   box-sizing: border-box;
  // }
}

.card {
  position: relative;
  display: flex;
  width: 70px;
  height: 70px;
  background-color: orange;
  // opacity: 0;
  // transform: rotateY(180deg);
  visibility: hidden;
}

.card::after {
  position: absolute;
  display: flex;
  background-color: green;
  // transform: rotateY(-180deg);
  content: "2";
  width: 70px;
  height: 70px;
  // opacity: 1;
  visibility: visible;
}
.clickCard {
  visibility: visible;
}
.clickCard::after {
  visibility: hidden;
}
// .card,
// .card::after:hover {
//   // transform: rotateY(0deg);
//   backface-visibility: hidden;
//   // transform: rotateY(-180deg);
//   transition: transform 1s;
//   transform: rotateY(0deg);
//   transform-style: preserve-3d;
// }

// .card:hover,
// .card::after {
//   transform: rotateY(180deg);
//   backface-visibility: hidden;
//   transition: transform 1s;
//   transform-style: preserve-3d;
// }

//https://codepen.io/kayfo23/pen/KoZOzB
// https://freefrontend.com/css-flip-cards/
// https://freefrontend.com/css-cards/
// https://levelup.gitconnected.com/css-gallery-layouts-c46089309bb

// https://www.oxxostudio.tw/articles/201706/pseudo-element-1.html
// https://medium.com/@anshumishra1168/11-advanced-react-interview-questions-you-should-absolutely-know-with-detailed-answers-4e86b5823162
