.container {
  position: relative;
  box-sizing: border-box;
  padding: auto 2rem;
  // min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  position: relative;
  // min-width: 100px;
  // min-height: 150px;
  aspect-ratio: 2/3; /* 寬/長 */
  margin: 10px;
  flex: 1 1 25%;
  transform: perspective(1000px);
  perspective: 1000px; /* 立體透視深度 */
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute; /* 絕對定位使兩個div重疊 */
  backface-visibility: hidden; /* 元素背後不可看見 */
  transition: 2s; /*動畫時間 1.5秒*/
  // transition-duration: 2s;
}

.front {
  transform: rotateY(0deg);
  /** background: color image attachment repeat poition / size */
  /** background教學: https://ithelp.ithome.com.tw/articles/10250499 */
  background: red url("../static/OnePiece/OnePieceCover.jpeg") no-repeat center /
    cover;
}

.back {
  // background-color: blue;
  color: white;
  /*設定-180deg即是將back翻到背面（背面看不到，因為設定了 backface-visibility: hidden;）*/
  transform: rotateY(-180deg);
}

.clickCard .front {
  transform: rotateY(180deg); /*當hover時，front從正面轉到背面*/
}

.clickCard .back {
  transform: rotateY(0deg); /*當hover時，back從背面轉到正面*/
}

//https://codepen.io/kayfo23/pen/KoZOzB
// https://freefrontend.com/css-flip-cards/
// https://freefrontend.com/css-cards/
// https://levelup.gitconnected.com/css-gallery-layouts-c46089309bb

// https://www.oxxostudio.tw/articles/201706/pseudo-element-1.html
// https://medium.com/@anshumishra1168/11-advanced-react-interview-questions-you-should-absolutely-know-with-detailed-answers-4e86b5823162
