.container {
  padding: 4rem 2rem;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.questionBlock {
  width: 100%;
  box-shadow: 0 5px 20px rgb(0 0 0 / 7%);
  padding: 16px;

  .question {
    color: #333333;
    font-weight: 700;
    letter-spacing: normal;
    /** text-align 主要的用途用於文字的水平對齊 */
    text-align: justify;
    span {
      font-weight: 900;
    }
  }
  .answers {
    padding-top: 16px;
    .answer {
      font-size: 10px;
      font-weight: 500;
      color: #333333;
      border: 2px solid #f28500;
      box-shadow: 0 2px 2px rgba(242, 133, 0, 0.3);
      padding: 8px;
      margin: 8px;
      border-radius: 5px;
    }
    .answer:active {
      background-color: #f28500;
      color: white;
    }
  }
}

.alertModal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /** 毛玻璃效果 */
  backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
}
.alertBox {
  margin: 0 auto;
  padding: 16px 0;
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 100px;
  margin-bottom: 16px;
  // margin: 16px auto;
}

.button {
  width: 80%;
  min-width: 100px;
  text-align: center;
  padding: 8px;
  background-color: #f28500;
  color: white;
  border-radius: 5px;
}
.unClick {
  background-color: #909fa6;
  color: white;
}
.alertContent {
  padding: 16px;
  color: #333333;
  font-weight: 500;
}

.page2Content {
  border: 1px solid yellow;
  width: 100%;
}

.cardContainer {
  border: 1px solid red;
  width: 80%;
  height: 50px;
  position: relative;
  .card {
    border: 1px solid green;
    position: absolute;
    // left: 50px;
    border-radius: 5px;
  }
}

div.card:nth-child(even) {
  // position: absolute;
  // left: -10%;
  background: black;
  background: radial-gradient(#1fe4f5, #3fbafe);
}
div.card:nth-child(odd) {
  // position: absolute;
  // left: 10%;
  background: red;
  background: radial-gradient(#60efbc, #58d5c9);
}
