.container {
  padding: 4rem 2rem;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 5px 20px rgb(0 0 0 / 7%);
  padding: 16px;
  .question {
    color: #333333;
    font-weight: 700;
    letter-spacing: normal;
    /** text-align 主要的用途用於文字的水平對齊 */
    text-align: justify;
    span {
      font-weight: 900;
    }
  }
  .answers {
    padding-top: 16px;
    .answer {
      font-size: 10px;
      font-weight: 500;
      color: #333333;
      border: 2px solid #f28500;
      box-shadow: 0 2px 2px rgba(242, 133, 0, 0.3);
      padding: 8px;
      margin: 8px;
      border-radius: 5px;
    }
    .answer:active {
      background-color: #f28500;
      color: white;
    }
  }
}

.alertModal {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  /** 毛玻璃效果 */
  backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
}
.alertBox {
  margin: 0 auto;
  padding: 16px 0;
  background-color: #ffffff;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 100px;
  margin-bottom: 16px;
  // margin: 16px auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 100px;
  text-align: center;
  padding: 8px;
  background-color: #f28500;
  color: white;
  border-radius: 5px;
}
.unClick {
  background-color: #909fa6;
  color: white;
}
.alertContent {
  padding: 16px;
  color: #333333;
  font-weight: 500;
}

.page2Content {
  // border: 1px solid green;
}

.card {
  // border: 1px solid red;
  position: relative;
  margin: 10px 10px;
  padding: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.5s;
  opacity: 0;

  /** 閃爍 */
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-50deg);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-50deg);
  }

  &:hover {
    &::before,
    &::after {
      transform: translateX(700px) skewX(-15deg);
      transition: 2s;
    }
  }
}

div.card:nth-child(even) {
  background: radial-gradient(#1fe4f5, #3fbafe);

  animation-name: rightFlyIn;
  animation-duration: 3s;
  left: 50px;
}

div.card:nth-child(odd) {
  background: radial-gradient(#60efbc, #58d5c9);

  animation-name: leftFlyIn;
  animation-duration: 3s;
  left: -50px;
}

@keyframes leftFlyIn {
  from {
    // opacity: 0;
    left: -100%;
  }
  to {
    // opacity: 1;
    left: -50px;
  }
}

@keyframes rightFlyIn {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 50px;
  }
}
